#  <?xml version="1.0" encoding="UTF-8"?>
#         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
#  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

#  		<description>Grails application factory bean</description>
#  		<property name="grailsResourceLoader" ref="grailsResourceLoader" />
#  
#  		<description>A bean that manages Grails plugins</description>
#  		<property name="application" ref="grailsApplication" />
#  
#  <bean id="grailsConfigurator" class="org.codehaus.groovy.grails.commons.spring.GrailsRuntimeConfigurator">
#  			<ref bean="grailsApplication" />
#  		<property name="pluginManager" ref="pluginManager" />
#  
#  
#  <bean id="characterEncodingFilter" class="org.springframework.web.filter.CharacterEncodingFilter">
#  			<value>utf-8</value>
#  	</bean>
#  </beans>